<div class="cart-section">
    <h1>Cart</h1>
    <form action="/cart" method="post">
        {% for line in cart.items %}
        <div class='line-item'>
            <a  class='line-el' href="{{line.url}}"><h4>{{line.title}}</h4></a>
            <img class='line-el' src="{{line.image | img_url:'small'}}" alt="">
            <h6 class='line-el'>{{line.line_price | money}}</h6>
            <input 
                type="number" 
                name='updates[]' 
                value='{{line.quantity}}'
                min='0'
                pattern='[0-9]'
                class='btn btn-default'>
            <a class="product-remove" 
            href="/cart/change?line={{forloop.index}}&quantity=0"
            rel='{{line_item.id}}'>Remove</a>
        </div>
            
        {% endfor %}
        <h4>Total: {{cart.total_price | money}}</h4>
        <h4>Item count: {{cart.item_count}}</h4>

        <!--<textarea name="note"></textarea>
        <p>
        <label>Please let us know your favorite color</label>
        <input type="text" name="attributes[Favorite color]" value="{{ cart.attributes['Favorite color'] }}" />
        </p>-->

        <input type="submit" name='checkout' value='Checkout'>
        <input type="submit" name='update' value='Update'>
    </form>
</div>